---
layout: default
---

<!-- 在这里加入 Highlight.js 的CSS与JS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/default.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>

<!-- and it's easy to individually load additional languages -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/openscad.min.js"></script>

<script>hljs.highlightAll();</script>

<!-- 渲染页面主体内容 -->
{{ content }}
